<!doctype html>
<html>

<head>
	<title>Stock Brokerage</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script type="text/javascript">
    function GetSelected() {
		if ((date.day() == 0) || (date.day() == 6) || (date.hour() < 8) || (date.hour() > 16)) {
			window.alert('Transactions cannot be made outside the business hours of 8am - 5pm CST');
		} else {
			//Reference the Table.
			var grid = document.getElementById("table");
	
			//Reference the CheckBoxes in Table.
			var checkBoxes = grid.getElementsByTagName("INPUT");
			var stocks=[];
			var company=[];
			var prices=[];
			var no_stocks=[];
			//Loop through the CheckBoxes.
			for (var i = 0; i < checkBoxes.length; i++) {
				if (checkBoxes[i].checked) {
					var row = checkBoxes[i].parentNode.parentNode;
					stocks.push(row.cells[1].innerHTML);
					company.push(row.cells[2].innerHTML);
					prices.push(row.cells[3].innerHTML);
					no_stocks.push(row.cells[4].innerHTML);
				}
			}
			var message = {stocks:stocks,company:company,prices:prices,no_stocks:no_stocks};
			var m=JSON.stringify(message);
			console.log('in buy.ejs' + m);
			document.getElementById('buy_button').href=`/buy_stocks:${m}`					 
			window.alert('Buy request submitted');
		}
    }
</script>



	<style>
		body {
			padding-top: 30px;
			word-wrap: break-word;
		}

		.nav-scroller {
			position: relative;
			z-index: 2;
			height: 2.75rem;
			overflow-y: hidden;
		}

		.nav-scroller .nav {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			padding-bottom: 1rem;
			margin-top: -1px;
			overflow-x: auto;
			text-align: center;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
		}

		.nav-scroller .nav-link {
			padding-top: .75rem;
			padding-bottom: .75rem;
			font-size: .875rem;
		}

		.d-flex {
			display: -ms-flexbox !important;
			display: flex !important
		}

		.justify-content-between {
			-ms-flex-pack: justify !important;
			justify-content: space-between !important
		}

		.py-1 {
			padding-top: .25rem !important
		}

		.p-2 {
			padding: .5rem !important
		}

		.text-muted {
			color: #6c757d !important;
			font-size: medium;
		}
	</style>
</head>

<body>
	<div class="container">
			<div class="page-header text-center">
					<h1> Profile Page</h1>
					<a style="float: right; margin-top: 30px;" href="/logout" class="btn btn-default btn-sm">Logout</a>
				</div>
				
				<div class="nav-scroller py-1">
					<nav class="nav d-flex justify-content-between">
						<a class="p-2 text-muted" href="/profile">My Profile</a>
						<a class="p-2 text-muted" href="/get_my_stocks">My Stocks</a>
						<a class="p-2 text-muted" href="/search">Search Stocks</a>
						<a class="p-2 text-muted" href="">Buy Stocks</a>
						<a class="p-2 text-muted" href="/sell">Sell Stocks</a>
					</nav>
				</div>
				<br>
				<a id="buy_button" style="float: right; margin-top: 30px;" href="" onclick="GetSelected()" class="btn btn-default btn-sm">Buy Selected Stocks</a>

				<table  id="table" class="table table-inverse" data-toggle="table" data-filter-control="true" data-show-search-clear-button="true">
						<thead> 
						<tr>
						 
						  <th>&nbsp;</th>
						  <th  data-sortable="true">Stock</th>
						  <th  data-sortable="true">Company</th>
						  <th  data-sortable="true">Price</th>
						  <th  data-sortable="true">Number of Stocks</th>
						
						</tr>
						</thead>
					  <tbody>
						<% for(var i=0; i < curr_stocks.stock.length; i++) { %>
					   <tr>
						  <td><input type="checkbox"/></td>
						 <td><%= curr_stocks.stock[i] %></td>
						 <td><%= curr_stocks.company[i] %></td>
						 <td><%= curr_stocks.price[i] %></td>
						 <td contenteditable="true"></td>
						
				
				
					   </tr>
					<% } %>
					  </tbody>
				
					</table>
					<br />
				
			

	</div>
</body>

</html>
