<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>404 Not Found</h1>
	</div>

	<div class="row" style="margin: auto; width: 50%; border: 5px; text-align: center;">
        <h3>The requested page is unavailable</h3>
        <br>
        <a href="/" class="btn btn-default btn-lg">Back to Home</a>
	</div>


</div>
</body>
</html>
