<!doctype html>
<html>
<head>
	<title>Reset Password</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Reset Password </h1>
 <!-- show any messages that come back with authentication -->
	

	<!-- LOGIN FORM -->
	<form action="/resetPassword" method="post">
		
		<div class="form-group">
			<label>Enter your new Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Reset</button>
	</form>

	<hr>

	<p>Login Here<a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>



</div>
</div>
</body>
</html>